<div class="modal-header">
    <h4 *ngIf="action" class="modal-title"
        style="font-size: medium">
      {{'Thêm mới danh mục món ăn'}}
    </h4>
    <h4 *ngIf="!action" class="modal-title"
        style="font-size: medium">
      {{'Sửa danh mục ' + category.name}}
  
    </h4>
    <button type="button" class="btn shadow-none p-0" aria-label="Close" (click)="close()">
      <span aria-hidden="true" style="font-size: large">x</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formCategory">
        <div class="p-fluid p-grid">
            <div class="p-md-6" style="padding: 1rem 0.5rem  !important;">
                <span class="p-float-label">
                    <input id="name"
                            type="text"
                            formControlName="name"
                            [ngClass]="isSubmitted && f['name'].errors?.required ? 'ng-dirty ng-invalid': ''"
                            class="form-control"
                            pInputText>
                    <label for="name" class="required">Tên danh mục</label>
                </span>
                <small *ngIf="isSubmitted && f['name'].errors?.required"
                        class="p-error text-error p-pl-1">
                    Tên danh mục là trường bắt buộc !
                </small>
            </div>
           

            <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
                <span class="p-float-label">
                    <p>Trạng thái</p>
                    <p-inputSwitch  formControlName="status"></p-inputSwitch>
                    
                </span>
            </div>
      </div>
    </form>
  </div>
  
  <div class="modal-footer pr-5">
    <button type="button" class="btn btn-info mr-4" (click)="close()">Close</button>
    <button type="button" class="btn btn-danger" [disabled]="!formCategory.valid"
            (click)="processSaveOrUpdate()">Save
    </button>
  </div>
  
