<p-toast></p-toast>

<kt-portlet>
    <kt-portlet-header [icon]="'pi pi-align-justify'" [class]="'d-flex flex-row'"
        [title]="'title.food.listFood' | translate">
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                    <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" ></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" (click)="exportExcel()" icon="pi pi-upload" class="p-button-help"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="foods" [rows]="10" [paginator]="true"
                [(selection)]="selectedFoods" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Image</th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
                        <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-food>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="food"></p-tableCheckbox>
                        </td>
                        <td>{{food.name}}</td>
                        <td><img [src]="'assets/showcase/images/demo/product/' + food.imageUrl"  width="100" class="p-shadow-4" /></td>
                        <td>{{food.description}}</td>
                        <td>{{food.price | currency:'VND'}}</td>
                        <td>{{food.quantity}}</td>
                        <td>{{food.category.name}}</td>
                        <td>
                            <span *ngIf="food.status === true">
                                <p-tag styleClass="p-mr-2"  value="Còn hàng" [rounded]="true"></p-tag>
                            </span>
                            
                            <span *ngIf="food.status === false">
                                <p-tag severity="danger" value="Hết hàng" [rounded]="true"></p-tag>
                            </span>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editFood(food)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteFood(food)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{foods ? foods.length : 0 }} foods.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="foodDialog" [style]="{width: '450px'}" header="Food Details" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="food.name" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !food.name">Name is required.</small>
                </div>
                <div class="p-field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="food.description" required rows="3" cols="20"></textarea>
                </div>

                <div class="p-field">
                    <label class="p-mb-3">Category</label>
                    <div class="p-formgrid p-grid">
                        <div class="p-field-radiobutton p-col-6" *ngFor="let category of categories">
                            <p-radioButton id="category1" name="category" value="{{category.name}}" [(ngModel)]="food.category"></p-radioButton>
                            <label for="category1">{{category.name}}</label>
                        </div>
                    </div>
                </div>

                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="price">Price</label>
                        <p-inputNumber id="price" [(ngModel)]="food.price" mode="currency" currency="VND"></p-inputNumber>
                    </div>
                    <div class="p-field p-col">
                        <label for="quantity">Quantity</label>
                        <p-inputNumber id="quantity" [(ngModel)]="food.quantity"></p-inputNumber>
                    </div>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="imageUrl">Image URI</label>
                        <input type="file"  pInputText id="imageUrl" [(ngModel)]="food.imageUrl" required autofocus>
                    </div>
                    <div class="p-field p-col">
                        <label for="status">Status</label><br>
                        <p-inputSwitch [(ngModel)]="food.status"></p-inputSwitch>

                    </div>
                </div>
            </ng-template>
            
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveFood()"></button>
            </ng-template>
        </p-dialog>

            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

    </kt-portlet-body>
</kt-portlet>

