<p-toast></p-toast>

<kt-portlet>
    <kt-portlet-header [icon]="'pi pi-align-justify'" [class]="'d-flex flex-row'"
        [title]="'title.food.listFood' | translate">
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                        (click)="processSave($event)"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
                    <button pButton pRipple label="Export" (click)="exportExcel()" icon="pi pi-upload"
                        class="p-button-help"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="foods" [rows]="10" [paginator]="true" [(selection)]="selectedFoods" [rowHover]="true"
                dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th>Image</th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-food>
                    <tr>
                        <td>{{food.name}}</td>
                        <td><img [src]="food.imageUrl" width="100" class="p-shadow-4" /></td>
                        <td>{{food.description}}</td>
                        <td>{{ food.category.name}}
                        <td>{{food.price | currency:'VND'}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                (click)="processEdit(food)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteFood(food)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{foods ? foods.length : 0 }} foods.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

    </kt-portlet-body>
</kt-portlet>