<div class="modal-header">
    <h4 *ngIf="action" class="modal-title" style="font-size: medium">
        {{'Thêm mới người dùng'}}
    </h4>
    <h4 *ngIf="!action" class="modal-title" style="font-size: medium">
        {{'Cập nhật người dùng ' + user.name}}

    </h4>
    <button type="button" class="btn shadow-none p-0" aria-label="Close" (click)="close()">
        <span aria-hidden="true" style="font-size: large">x</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formUser">
        <div class="p-fluid p-grid">
            <div class="p-md-6" style="padding: 1rem 0.5rem  !important;">
                <span class="p-float-label">
                    <input id="username" type="text" formControlName="username"
                        [ngClass]="isSubmitted && f['username'].errors?.required ? 'ng-dirty ng-invalid': ''"
                        class="form-control" pInputText>
                    <label for="username" class="required">Username</label>
                </span>
                <small *ngIf="isSubmitted && f['username'].errors?.required" class="p-error text-error p-pl-1">
                    Username là trường bắt buộc !
                </small>
            </div>
            <div class="p-md-6" style="padding: 1rem 0.5rem  !important;">
                <span class="p-float-label">
                    <input id="name" type="text" formControlName="name"
                        [ngClass]="isSubmitted && f['name'].errors?.required ? 'ng-dirty ng-invalid': ''"
                        class="form-control" pInputText>
                    <label for="name" class="required">Fullname</label>
                </span>
                <small *ngIf="isSubmitted && f['name'].errors?.required" class="p-error text-error p-pl-1">
                    Tên người dùng là trường bắt buộc !
                </small>
            </div>

            <div class="p-md-6" style="padding: 1rem 0.5rem  !important;">
                <span class="p-float-label">
                    <p-password formControlName="password" [toggleMask]="true"></p-password>
                    <label for="password" class="required">Password</label>
                </span>
                <small *ngIf="isSubmitted && f['name'].errors?.required" class="p-error text-error p-pl-1">
                    Password là trường bắt buộc !
                </small>
            </div>
            <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
                <span class="p-float-label">
                    <input id="email" type="text" formControlName="email"
                        [ngClass]="isSubmitted && f['email'].errors?.required ? 'ng-dirty ng-invalid': ''"
                        class="form-control" pInputText>
                    <label for="email" class="required">Email </label>
                </span>
                <small *ngIf="isSubmitted && f['email'].errors?.required" class="p-error text-error p-pl-1">
                    Phải nhập email cho người dùng này !
                </small>
            </div>
            <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
                <span class="p-float-label">
                    <input id="phoneNumber" type="text" formControlName="phoneNumber"
                        [ngClass]="isSubmitted && f['phoneNumber'].errors?.required ? 'ng-dirty ng-invalid': ''"
                        class="form-control" pInputText>
                    <label for="phoneNumber" class="required">Phone</label>
                </span>
                <small *ngIf="isSubmitted && f['phoneNumber']?.errors?.required" class="p-error text-error p-pl-1">
                    Phải nhập số điện thoại cho người dùng này !
                </small>
            </div>

            <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
                <span class="p-float-label">
                    <input id="address" type="text" formControlName="address"
                        [ngClass]="isSubmitted && f['address'].errors?.required ? 'ng-dirty ng-invalid': ''"
                        class="form-control" pInputText>
                    <label for="address" class="required">Address</label>
                </span>
                <small *ngIf="isSubmitted && f['address']?.errors?.required" class="p-error text-error p-pl-1">
                    Phải nhập địa chỉ cho người dùng này !
                </small>
            </div>

            <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
                <span class="p-float-label">
                    <p-calendar formControlName="birthday" [showIcon]="true" inputId="birthday" required></p-calendar>
                    <label for="birthday" class="required">Birthday</label>
                </span>
                <small *ngIf="isSubmitted && f['birthday']?.errors?.required" class="p-error text-error p-pl-1">
                    Phải nhập ngày sinh cho người dùng này !
                </small>
            </div>

            <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
                <span class="p-float-label">
                    <p>Trạng thái</p>
                    <p-inputSwitch  formControlName="status"></p-inputSwitch>
                </span>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer pr-5">
    <button type="button" class="btn btn-info mr-4" (click)="close()">Close</button>
    <button type="button" class="btn btn-danger" [disabled]="!formUser.valid" (click)="processSaveOrUpdate()">Save
    </button>
</div>