<div class="row">
  <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="analysisOrder" [gradient]="gradient"
    [animations]="animations" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [legendTitle]="legendTitle"
    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>

<div class="row" style="margin-top: 20px">
  <div class="card">
    <h5 style="text-align: center">Top khách hàng order nhiều nhất trong 30 ngày gần nhất</h5>
    <p-table [value]="analysisPrice" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Mã đơn hàng </th>
          <th>Tên khách hàng </th>
          <th>Tổng hóa đơn </th>
          <th>Ngày thanh toán </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-analysisPrice>
        <tr>
          <td>{{analysisPrice.orderId}}</td>
          <td>{{analysisPrice.customerName}}</td>
          <td>{{analysisPrice.totalPrice | currency:'VND':'symbol'}}</td>
          <td>{{analysisPrice.orderTime | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{analysisPrice ? analysisPrice.length : 0 }} orders.
        </div>
      </ng-template>
    </p-table>
  </div>

</div>